<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head'); %>
    </head>
    <body class="d-flex">
        <main>
          <div class="align-self-center">
            <h1>Errorr</h1>
            <p>cant find dat.</p>
          </div>
        </main>
    </body>
</html>