<!DOCTYPE html>
<html lang="en" style="background-color:#975BFF">
    <head>
      <%- include('partials/head'); %>
    </head>
    <body class="container mt-5" style="background-color:#975BFF">
        <main>
          <div class="title jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1>math bad k?</h1>
                    <p>its just numbers</p>
                    <small id="time">0 ms</small>
                    <small id="ran">0 calculations</small>
                </div>

                <div class="col-md-6 text-center">
                    <button class="btn btn-primary" onclick="randomNumber();">Do random number</button>
                    <br><br>
                    <button class="btn btn-danger" onclick="randomMethod();">Do random method</button>
                    <br><br>
                    <button class="btn btn-secondary" onclick="randomNumber();randomMethod();">Fully randomize</button>
                </div>
            </div>
          </div>
        </main>

        <br>

        <div class="container text-center">
            <form class="card" name="inpoot" onsubmit="return tryDoMath()">
                <br>
                Number: <input class="ml-auto mr-auto" type="text" name="number">
                <br><br>
                Do what: <input class="ml-auto mr-auto" type="text" name="toDo">
                <br>
                <p>This thing big brain it understand range yes. example (3-8)</p>
                <br>
                <div>
                  <input class="btn btn-success ml-auto mr-auto" type="submit" value="Submit">
                  <button class="btn btn-success ml-auto mr-auto" onclick="randomNumber();randomMethod();" role="submit">New Result</button>
                </div>
                <br>
            </form>
        </div>
        <br>
        <div id="container text-center">
            <div id="list" class="row text-center justify-content-center">
                <div class="card col p-2">
                    <small>Result appear here yes good</small>
                </div>
            </div>
        </div>

        <br>
    </body>

    <footer>
          <%- include('partials/footer'); %>
        </footer>

    <script>
        function randomNumber() {
          document.forms["inpoot"]["number"].value = Math.floor((Math.random() * 100) + 1);
        }

        function randomMethod() {
            if (Math.floor((Math.random() * 3)) == 1) {
              document.forms["inpoot"]["toDo"].value = Math.floor((Math.random() * 100) + 100) + "-" + Math.floor((Math.random() * 100) + 201);
            } else {
              document.forms["inpoot"]["toDo"].value = Math.floor((Math.random() * 100) + 1);
            }
        }

        function tryDoMath() {
          let start = Date.now();

          let number = document.forms["inpoot"]["number"].value;
          if (number == "") {
            alert("U need a number stoopid");
            return false;
          }

          let toDo = document.forms["inpoot"]["toDo"].value;
          if (toDo == "") {
            alert("U need to do somthing to number stoopid");
            return false;
          }

          var ul = document.getElementById("list");
          var ran = document.getElementById("ran");
          ul.innerHTML = "";

          if (number === "911" || number === "9/11") {
            ul.innerHTML = `<iframe width="560" height="315" src="https://www.youtube.com/embed/NsKaCS3CtsY?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
          } else if (number === "69" && toDo === "420") {
            ul.innerHTML = `<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
          } else if (number === "999" && toDo === "999") {
            ul.innerHTML = `<iframe width="560" height="315" src="https://www.youtube.com/embed/1zQgTGmMW4?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
          } else {

              if (toDo.includes("-")) {
                let data = toDo.split("-");

                for (let i = data[0]; i <= data[1]; i++) {
                    var div = document.createElement("div");
                    div.classList.add("card");
                    div.classList.add("p-3");
                    div.appendChild(document.createTextNode(number + " * " + i + " = " + number * i));
                    ul.appendChild(div);

                    ran.innerHTML = (data[1] - data[0]) + " calculations";
                }
              } else {
                var div = document.createElement("div");
                div.classList.add("card");
                div.classList.add("p-3");
                div.appendChild(document.createTextNode(number + " * " + toDo + " = " + number * toDo));
                ul.appendChild(div);
            
                ran.innerHTML = "1 calculation";
              }

              var time = document.getElementById("time");
              time.innerHTML = (Date.now() - start) + " ms";
          }

          return false;
        }
    </script>
</html>